<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" width="100%" height="100%"/>
        </div>
        <div class="carousel-caption">
            <h3>Collegamento al primo gioco</h3>
            <button type="button" class="btn btn-primary">{{button}}</button>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" width="100%" height="100%"/>
        </div>
        <div class="carousel-caption">
            <h3>Collegamento al secondo gioco</h3>
            <button type="button" class="btn btn-primary">{{button}}</button>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide"  width="100%" height="100%"/>
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>

