<div class="row featurette my-6 ml-4 container" *ngIf="photoRight">
  <div class="col-sm-7 d-flex align-items-center">
    <div class="my-4">
      <h1 class="featurette-heading fw-normal lh-1 justify-center">{{ info?.h1 }} </h1>
      <p class="lead">{{ info?.p }}</p>
      <a [routerLink]="info?.href" type="button" class="btn color">{{info?.button}}</a>
    </div>
  </div>
  <div class="col-sm-5 d-flex align-items-center">
    <a [routerLink]="info?.href" target='_blank'><img src={{info?.img}} width="100%" height="100%" alt={{info?.alt}}/></a>
  </div>
</div>

<div class="row featurette my-6 ml-4 container " *ngIf="!photoRight">
  <div class="col-sm-5 d-flex align-items-center">
    <a [routerLink]="info?.href" target='_blank'><img src={{info?.img}} width="100%" height="100%" alt={{info?.alt}}/></a>
  </div>
  <div class="col-sm-7 d-flex align-items-center">
    <div class="my-4">
      <h1 class="featurette-heading fw-normal lh-1">{{ info?.h1 }}</h1>
      <p class="lead">{{ info?.p }}</p>
      <a type="button" [routerLink]="info?.href" class="btn color">{{info?.button}}</a>
    </div>
  </div>
</div>
