.game {
    width: 500px;
    height: 210px;
    border: 2px solid black;
    margin: auto;
    background-image: url('./img/t-rex-background.png');
}
  
.dino {
    width: 50px;
    height: 50px;
    background-image: url(img/t-rex.png);
    background-size: 50px 50px;
    position: relative;
    top: 146px;
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 130px;
    }

    50% {
        top: 70px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}

.cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 106px;
    left: 580px;

    background-image: url("img/cacti.png");
    background-size: 20px 40px;

    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
        left: 580px;
    }

    100% {
        left: -10px;
    }
}

.buttone{
    width: 500px;
}


#desert {
    
    background-image: url('./img/t-rex-background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
  }