<div class="page">

    <form (ngSubmit)="login(username, password)">

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username"  class="form-control">
        </div>
        
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control">
        </div>
        
        <button type="submit" class="btn color">Log in</button>
        
    </form>
    <h6> Still don't have an account? <span><a [routerLink]="'/signup'" class="btn color" >Sign up!</a></span></h6>

    <div class="alert alert-danger" role="alert" *ngIf="error">
        Wrong username or password
      </div>
   
</div>

  