<div class="container ">
  <h1>Bacheca eccolo qua!</h1>

  <form (ngSubmit)="onSubmit(username, species, name, sex, age, medicalConditions)" >
    <div class="form-group" *ngIf="!this.authservice.isLoggedIn">
      <label for="species">Username</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
    </div>

    <div class="form-group">
      <label for="species">Species</label>
      <input type="text" class="form-control" id="species" [(ngModel)]="species" name="species">
    </div>
  
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
    </div>
  
    <div class="form-group">
      <label for="sex">Sex</label>
      <select class="form-control" id="sex" [(ngModel)]="sex" name="sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age" [(ngModel)]="age" name="age">
    </div>
  
    <div class="form-group">
      <label for="medicalConditions">Medical Conditions (if any)</label>
      <textarea class="form-control" id="medicalConditions" [(ngModel)]="medicalConditions" name="medicalConditions"></textarea>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  
  <div class="card-deck mt-4">
    <div class="card" *ngFor="let pet of pets">
      <div class="card-body">
        <h5 class="card-title">{{ pet.specie }} - {{ pet.nome }}</h5>
        <h6 class="card-subtitle mb-2 ">Padrone: {{ pet.user }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ pet.sesso }} - {{ pet.eta }} years old</h6>
        <p class="card-text">{{ pet.medic }}</p>
      </div>
    </div>
  </div>
  </div>