<div class="container ">
  <h1>Look at my pet!</h1>
  <h4>Describe to us you beloved companion!</h4>
  <form (ngSubmit)="onSubmit(username, species, name, sex, age,description, medicalConditions)" >
    <div class="form-group" *ngIf="!(authservice.isLoggedIn | async)">
      <label for="species">Username</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
    </div>

    <div class="form-group">
      <label for="species">Species</label>
      <input type="text" class="form-control" id="species" [(ngModel)]="species" name="species">
    </div>
  
    <div class="form-group">
      <label for="name">Pet Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
    </div>
  
    <div class="form-group">
      <label for="sex">sex</label>
      <select class="form-control" id="sex" [(ngModel)]="sex" name="sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age" [(ngModel)]="age" name="age">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" [(ngModel)]="description" name="description"></textarea>
    </div>
  
    <div class="form-group">
      <label for="medicalConditions">Medical Conditions</label>
      <textarea class="form-control" id="medicalConditions" [(ngModel)]="medicalConditions" name="medicalConditions"></textarea>
    </div>
  
    <button type="submit" class="btn color">Submit</button>
  </form>
  
  
  <div class="card-deck mt-4">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mb-4" *ngFor="let pet of pets; let i = index;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>{{ pet.nameAnimal }}</strong> - {{ pet.species }}</h5>
            <h6 class="card-subtitle mb-2">Owner: {{ pet.username }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ pet.sex }} - {{ pet.age }} years old</h6>
            <p class="card-text"><strong>Description:</strong> {{ pet.descrizione }}</p>
            <p class="card-text"><strong>Medical Conditions:</strong> {{ pet.medicalConditions }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>