<!--div class="font">
    <h1>Dino Game</h1>
    <button type="button" class="btn btn-secondary buttone" *ngIf="!game_started" (click)="start()">Inizia!</button>

    <div>
        <app-trex-game *ngIf="game_started"></app-trex-game>
    </div>
    <button type="button" class="btn btn-secondary buttone" *ngIf="game_started" (click)="start()">Chiudi</button>
    

</div!-->
<div>
    <p>idealmente qui ci vanno delle infocards per accedere ai vari giochetti</p>
    <a class="btn btn-primary" href="/games/quiz" >Accedi ai quiz, impressionanti</a>
    
</div>
