<div class="tot">
    <h1>Who wants to be a good boi</h1>
    <h4 *ngIf="!started">Choose which animal you want questions about</h4>
    
    <input class="form-control testo" *ngIf="!started" [(ngModel)]="name" placeholder="Enter animal name">
  
    <button class="btn btn-secondary start_button" *ngIf="!started" (click)="start(name)">Inizia</button>
    <div class="game" *ngIf="questions">
      <div class="question_block" *ngFor="let domanda of questions; let i = index">
        <h4 class="question">{{domanda.question}}</h4>
        <div class="risposte row ">
          <div class="col-md-6 col-sm-12" *ngFor="let risp of domanda.all_answers">
            <div class="form-check " >
                <input 
                    class="risposta_input" 
                    type="button" 
                    [name]="'question-' + i" 
                    [value]="risp" 
                    [ngClass]="{'selected-yellow': domanda.selectedAnswer == risp}"
                    (click)="domanda.selectedAnswer = risp; checkAnswers(domanda, risp)"
                >
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-secondary start_button" *ngIf="started" (click)="submit();openVerticallyCentered(content) ">La accendiamo?!?</button>
      <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">A Grandeee!!!</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <p>hai fatto: {{score}} punti.... disgraziato</p>
            <form onsubmit="register_score(score)">
              <input *ngIf="!registered" type="text" placeholder="Il tuo nome" name="game_name">
              <button>Registra il tuo punteggio!</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>
    </div>
  </div>