.tot {
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

.testo{ 
  max-width: 70%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}



.question {
  font-weight: bold;
  color: black;
  margin-top: 10px;
}

.question_block{
  margin-bottom: 20px;
  border: 5px solid black;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 10%;

}

.input_score{
  margin-left: 0 ;
}

.selected-yellow {
  background-color: rgb(241, 230, 30) !important;
}

.risposta_input {
  width:100%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  background-color: #5e30b8;
  border-radius: 10px #fff;
  
  margin-top: 10px;
  margin-bottom: 10px;
  clip-path: polygon(13% 0%, 87% 0%, 100% 50%, 87% 100%, 13% 100%, 0% 50%);
}

.risposta.selected {
  background-color: green;
}

.start_button {
  background-color: #fff;
  color: #5e30b8;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  border: 2px solid #5e30b8;
}


@media (max-width: 767px) {
  .question_block {
    margin-left: 2px;
    margin-right: 2px;
  }
}

h1,h4{
  font-family: 'Montserrat', sans-serif;
}

.color{
  background-color: #5e30b8;
  color: white
}

