

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Scopri tutti i nostri MAGNIFICI prodotti!!!</h1>
      <h3>Prodotti Sanitari</h3>
      <p>Una selezione Sensazionale!</p>
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-3" *ngFor="let product of products">
        <app-card [card]="product"></app-card>
    </div>
  </div>
  <br>
  <h2>Prodotti Sanitari</h2>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 p-3" *ngFor="let product of products">
      <app-card [card]="product"></app-card>
  </div>
</div>
</div>